
.profile__avatar {
    width: 120px;
    height: 120px;
    margin: 0 0 27px;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
  }

  @media screen and (min-width: 700px) {

    .profile__avatar {
      margin-right: 2.9296875vw;
      margin-bottom: 0;
    }
  }


  @media screen and (min-width: 1280px) {
    
    .profile__avatar {
      margin-right: 30px;
    }
  }


  