
.profile__button_action_edit {
    width: 24px;
    align-self: end;
    height: 24px;
    margin-bottom: 8px;
    background-image: url('../../../../images/icons/edit_icon.svg');
    border: 1px solid #FFF;
  }
  

  @media screen and (min-width: 320px) {
    .profile__button_action_edit{
      width: 18px;
      height: 18px;
      background-size: 7.5px 7.5px;
    }
  }
  
  @media screen and (min-width: 768px) {
    .profile__button_action_edit {
      width: 21px;
      height: 21px;
      margin-bottom: 7px;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .profile__button_action_edit {
      width: 24px;
      height: 24px;
      margin-bottom: 8px;
    }
  }